In [167]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
from matplotlib import pyplot as plt

In [168]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [169]:
url = "https://rawcdn.githack.com/AnushavanAleksanyan/data_science_beyond/f204830f9bb8618ee86fd0e559e619d27fac595c/src/extra/f_data_sm.rda"

In [170]:
downloaded = drive.CreateFile({'id':"1WsK4Ft6qJtOaVryOiOZcZrUzqsRGZkg1"})   # replace the id with id of file you want to access
downloaded.GetContentFile("f_data_sm.rda")        # replace the file name with your file

In [171]:
import pyreadr

In [172]:
result = pyreadr.read_r('f_data_sm.rda')

In [173]:
print(result['f_data_sm'])

       SEASON  COUNTRY             LEAGUE       DATE  ... FTTG   H   D   A
0      1994.0  England     Premier League 1993-08-14  ...  3.0 NaN NaN NaN
1      1994.0  England     Premier League 1993-08-14  ...  5.0 NaN NaN NaN
2      1994.0  England     Premier League 1993-08-14  ...  3.0 NaN NaN NaN
3      1994.0  England     Premier League 1993-08-14  ...  2.0 NaN NaN NaN
4      1994.0  England     Premier League 1993-08-14  ...  2.0 NaN NaN NaN
...       ...      ...                ...        ...  ...  ...  ..  ..  ..
87811  2019.0   Greece  Ethniki Katigoria 2019-05-05  ...  2.0 NaN NaN NaN
87812  2019.0   Greece  Ethniki Katigoria 2019-05-05  ...  2.0 NaN NaN NaN
87813  2019.0   Greece  Ethniki Katigoria 2019-05-05  ...  3.0 NaN NaN NaN
87814  2019.0   Greece  Ethniki Katigoria 2019-05-05  ...  3.0 NaN NaN NaN
87815  2019.0   Greece  Ethniki Katigoria 2019-05-05  ...  4.0 NaN NaN NaN

[87816 rows x 14 columns]

In [174]:
df = result['f_data_sm']

In [175]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [176]:
print(df.keys())

Index(['SEASON', 'COUNTRY', 'LEAGUE', 'DATE', 'HOMETEAM', 'AWAYTEAM', 'FTSC',
       'FTR', 'FTHG', 'FTAG', 'FTTG', 'H', 'D', 'A'],
      dtype='object')

In [177]:
df[['HOMETEAM','AWAYTEAM','FTSC', 'FTR', 'FTHG', 'FTAG', 'FTTG']]

            HOMETEAM        AWAYTEAM FTSC FTR  FTHG  FTAG  FTTG
0            Arsenal        Coventry  0-3   A   0.0   3.0   3.0
1        Aston Villa             QPR  4-1   H   4.0   1.0   5.0
2            Chelsea       Blackburn  1-2   A   1.0   2.0   3.0
3          Liverpool  Sheffield Weds  2-0   H   2.0   0.0   2.0
4           Man City           Leeds  1-1   D   1.0   1.0   2.0
...              ...             ...  ...  ..   ...   ...   ...
87811      Atromitos       OFI Crete  0-2   A   0.0   2.0   2.0
87812       Giannina            PAOK  0-2   A   0.0   2.0   2.0
87813         Larisa      Olympiakos  0-3   A   0.0   3.0   3.0
87814    Levadeiakos             AEK  0-3   A   0.0   3.0   3.0
87815  Panathinaikos     Panetolikos  4-0   H   4.0   0.0   4.0

[87816 rows x 7 columns]

In [178]:
league = "Premier League" #  choose a  LEAGUE you prefer

***1. Calculate average number of goals for home and away teams per SEASON for that league and sort them descending order.
Which clubs are more consistent ?***

In [179]:
df2 = df.loc[df.LEAGUE==league]

In [180]:
df2

       SEASON   COUNTRY          LEAGUE       DATE  ... FTTG     H    D     A
0      1994.0   England  Premier League 1993-08-14  ...  3.0   NaN  NaN   NaN
1      1994.0   England  Premier League 1993-08-14  ...  5.0   NaN  NaN   NaN
2      1994.0   England  Premier League 1993-08-14  ...  3.0   NaN  NaN   NaN
3      1994.0   England  Premier League 1993-08-14  ...  2.0   NaN  NaN   NaN
4      1994.0   England  Premier League 1993-08-14  ...  2.0   NaN  NaN   NaN
...       ...       ...             ...        ...  ...  ...   ...  ...   ...
84967  2019.0  Scotland  Premier League 2019-05-18  ...  2.0  2.80  3.3  2.45
84968  2019.0  Scotland  Premier League 2019-05-18  ...  5.0  2.05  3.4  3.50
84969  2019.0  Scotland  Premier League 2019-05-19  ...  3.0  1.30  5.5  9.00
84970  2019.0  Scotland  Premier League 2019-05-19  ...  3.0  3.10  3.4  2.25
84971  2019.0  Scotland  Premier League 2019-05-19  ...  3.0  4.33  3.6  1.80

[15456 rows x 14 columns]

In [181]:
fthg_mean = df2.groupby(['SEASON','HOMETEAM'])['FTHG'].mean()

In [182]:
fthg_mean

SEASON  HOMETEAM
1994.0  Arsenal        1.190476
        Aston Villa    1.095238
        Blackburn      1.476190
        Chelsea        1.476190
        Coventry       1.095238
                         ...
2019.0  St Mirren      0.789474
        Tottenham      1.789474
        Watford        1.368421
        West Ham       1.684211
        Wolves         1.473684
Name: FTHG, Length: 812, dtype: float64

In [183]:
ftag_mean = df2.groupby(['SEASON', 'AWAYTEAM'])['FTAG'].mean()

In [184]:
fthg_mean

SEASON  HOMETEAM
1994.0  Arsenal        1.190476
        Aston Villa    1.095238
        Blackburn      1.476190
        Chelsea        1.476190
        Coventry       1.095238
                         ...
2019.0  St Mirren      0.789474
        Tottenham      1.789474
        Watford        1.368421
        West Ham       1.684211
        Wolves         1.473684
Name: FTHG, Length: 812, dtype: float64

In [185]:
fthg_mean.nlargest(3)  # 3 more consistent teams in HOMETEAM

SEASON  HOMETEAM
2010.0  Chelsea     3.578947
2014.0  Man City    3.315789
2004.0  Celtic      3.263158
Name: FTHG, dtype: float64

In [186]:
ftag_mean.nlargest(3)  # 3 more consistent teams in AWAYTEAM

SEASON  AWAYTEAM
2017.0  Celtic      3.105263
2006.0  Celtic      2.736842
2014.0  Celtic      2.736842
Name: FTAG, dtype: float64

***2. Construct a plot  to show how this number is changing over time.***

***4. Find following clubs for each season:***
*- the best attack (top 5)*
*- the best defense (top5)*

In [187]:
fthg_max = df2.groupby(['SEASON','HOMETEAM'])['FTHG'].sum()
ftag_max = df2.groupby(['SEASON','AWAYTEAM'])['FTAG'].sum()

In [188]:
fthg_max

SEASON  HOMETEAM
1994.0  Arsenal        25.0
        Aston Villa    23.0
        Blackburn      31.0
        Chelsea        31.0
        Coventry       23.0
                       ...
2019.0  St Mirren      15.0
        Tottenham      34.0
        Watford        26.0
        West Ham       32.0
        Wolves         28.0
Name: FTHG, Length: 812, dtype: float64

In [189]:
ftag_max

SEASON  AWAYTEAM
1994.0  Arsenal        28.0
        Aston Villa    23.0
        Blackburn      32.0
        Chelsea        18.0
        Coventry       20.0
                       ...
2019.0  St Mirren      19.0
        Tottenham      33.0
        Watford        26.0
        West Ham       20.0
        Wolves         19.0
Name: FTAG, Length: 812, dtype: float64

In [190]:
best_attack = fthg_max + ftag_max

In [191]:
best_attack

SEASON  HOMETEAM
1994.0  Arsenal        53.0
        Aston Villa    46.0
        Blackburn      63.0
        Chelsea        49.0
        Coventry       43.0
                       ...
2019.0  St Mirren      34.0
        Tottenham      67.0
        Watford        52.0
        West Ham       52.0
        Wolves         47.0
Length: 812, dtype: float64

In [192]:
best_attack.nlargest(5)  # the best attack (top 5)

SEASON  HOMETEAM
2017.0  Celtic      106.0
2018.0  Man City    106.0
2004.0  Celtic      105.0
2010.0  Chelsea     103.0
2014.0  Celtic      102.0
dtype: float64

In [193]:
fthg_min = df2.groupby(['SEASON','HOMETEAM'])['FTAG'].sum()
ftag_min = df2.groupby(['SEASON','AWAYTEAM'])['FTHG'].sum()

In [194]:
best_defense = fthg_min + ftag_min

In [195]:
best_defense.nsmallest(5)  # the best defense (top 5)

SEASON  HOMETEAM
2005.0  Chelsea     15.0
1999.0  Arsenal     17.0
2015.0  Celtic      17.0
2002.0  Celtic      18.0
2019.0  Celtic      20.0
dtype: float64