In [87]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tabula

####  1. Կարդալ ֆայլը և վերածել դատաֆրեյմի

In [88]:
file_path = "other/project-2/Data_Project_2.csv"

In [89]:
df = pd.read_csv(file_path)

In [110]:
type(df)

pandas.core.groupby.generic.DataFrameGroupBy

In [90]:
def mod_data(data):
    if data - int(data) != 0:
        #data = int(data)
        data = str(data).replace(".", "")
        return data
    else:
        return int(data)

####  2. Բաժանեք դատան փոքր մասերի՝
      * Առաջին բանը, որ կարելի է անել, վիզուալիզացնել հրդեհների քանակը ըստ տարիների, ամիսների

In [105]:
sums = df["number"].groupby([df["year"]], axis = 1).mean()

AttributeError: 'SeriesGroupBy' object has no attribute 'groupby'

####  Հեռացրեք այն տողերը, որտեղ հրդեհների քանակը 0 է։ Նախ 0֊ները սարքեք Nan, հետո հեռացրեք

In [101]:
df[1:50].plot(kind="bar", x="year", y="number")

TypeError: unhashable type: 'slice'

In [81]:
df["number"] = df["number"].apply(mod_data)  # correcting data

In [82]:
df["number"].replace(0, np.nan, inplace=True)  # raplace 0 with NaN

In [94]:
df[1:100]

    year state    month  number        date
1   1999  Acre  Janeiro     0.0  1999-01-01
2   2000  Acre  Janeiro     0.0  2000-01-01
3   2001  Acre  Janeiro     0.0  2001-01-01
4   2002  Acre  Janeiro     0.0  2002-01-01
5   2003  Acre  Janeiro    10.0  2003-01-01
..   ...   ...      ...     ...         ...
95  2013  Acre     Maio     4.0  2013-01-01
96  2014  Acre     Maio     1.0  2014-01-01
97  2015  Acre     Maio     2.0  2015-01-01
98  2016  Acre     Maio    21.0  2016-01-01
99  2017  Acre     Maio    10.0  2017-01-01

[99 rows x 5 columns]

In [111]:
df1 = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})

In [112]:
type(df1)

pandas.core.frame.DataFrame