In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import googletrans

In [2]:
def mod_data(data)->int:
    if data - int(data) != 0:
        data = str(data).replace(".", "")
        return int(data)
    else:
        return int(data)

def translate_text_alt(txt):
	m = {"Janeiro": "Январь",
	"Fevereiro": "Февраль",
	"Março": "Март",
	"Abril": "Апрель",
	"Maio": "Май",
	"Junho": "Июнь",
	"Julho": "Июль",
	"Agosto":  "Август",
	"Setembro": "Сентябрь",
	"Outubro": "Октябрь",
	"Novembro": "Ноябрь",
	"Dezembro": "Декабрь"}
	return m[txt]

####  1. Կարդալ ֆայլը և վերածել դատաֆրեյմի  OK

In [14]:
file_path = "./other/project-2/Data_Project_2.csv"

In [15]:
df = pd.read_csv(file_path)

In [16]:
df

      year      state     month  number        date
0     1998       Acre   Janeiro     0.0  1998-01-01
1     1999       Acre   Janeiro     0.0  1999-01-01
2     2000       Acre   Janeiro     0.0  2000-01-01
3     2001       Acre   Janeiro     0.0  2001-01-01
4     2002       Acre   Janeiro     0.0  2002-01-01
...    ...        ...       ...     ...         ...
6449  2012  Tocantins  Dezembro   128.0  2012-01-01
6450  2013  Tocantins  Dezembro    85.0  2013-01-01
6451  2014  Tocantins  Dezembro   223.0  2014-01-01
6452  2015  Tocantins  Dezembro   373.0  2015-01-01
6453  2016  Tocantins  Dezembro   119.0  2016-01-01

[6454 rows x 5 columns]

In [17]:
df["month"] = df["month"].apply(translate_text_alt)  # translates month names

####  2. Բաժանեք դատան փոքր մասերի՝
      * Առաջին բանը, որ կարելի է անել, վիզուալիզացնել հրդեհների քանակը ըստ տարիների, ամիսների

####  Հեռացրեք այն տողերը, որտեղ հրդեհների քանակը 0 է։ Նախ 0֊ները սարքեք Nan, հետո հեռացրեք

In [18]:
df["number"].replace(0, np.nan, inplace=True)  # raplace 0 with NaN
df = df.dropna()
df

      year      state    month  number        date
5     2003       Acre   Январь    10.0  2003-01-01
7     2005       Acre   Январь    12.0  2005-01-01
8     2006       Acre   Январь     4.0  2006-01-01
12    2010       Acre   Январь     1.0  2010-01-01
17    2015       Acre   Январь     1.0  2015-01-01
...    ...        ...      ...     ...         ...
6449  2012  Tocantins  Декабрь   128.0  2012-01-01
6450  2013  Tocantins  Декабрь    85.0  2013-01-01
6451  2014  Tocantins  Декабрь   223.0  2014-01-01
6452  2015  Tocantins  Декабрь   373.0  2015-01-01
6453  2016  Tocantins  Декабрь   119.0  2016-01-01

[5837 rows x 5 columns]

Խնդիրը՝
1. Կարդալ ֆայլը և վերածել դատաֆրեյմի, հաշվի առնելով վերևի նշվածները
2. Բաժանեք դատան փոքր մասերի՝
* Առաջին բանը, որ կարելի է անել, վիզուալիզացնել հրդեհների քանակը ըստ տարիների, ամիսների


Հեռացրեք այն տողերը, որտեղ հրդեհների քանակը 0 է։ Նախ 0֊ները սարքեք Nan, հետո հեռացրեք
3. Խմբավորեք տվյալները ըստ ամիսների։ Արդյունքը լինելու է Series , ընդ որում 
ամիսները այբբենական կարգով։ Փոխեք, ամիսները ըստ ճիշտ հերթականության reindex֊ի միջոցով։
4. Googletrans գրադարանի միջոցով թարգմանել ամիսները
5. Վիզուալիզացրեք ստացված տվյալները՝ ներկայացնելով կապը ամիսների և այդ ամիսների ընթացքում եղած հրդեհների քանակի հետ

In [54]:
df2 = pd.DataFrame(columns=pd.unique(df['year']), index=pd.unique(df['month']) )
df2.loc['Январь', 2003] = df.loc[df['month']=='Январь' & df['year']==2003]
df2
# arr = df2.to_numpy()
# arr

TypeError: Cannot perform 'rand_' with a dtyped [int64] array and scalar of type [bool]