In [1]:
import pandas as pd
import time
import locale

In [2]:
df = pd.DataFrame({'id':range(15), 'chars':['asd']*15})

In [3]:
df

    id chars
0    0   asd
1    1   asd
2    2   asd
3    3   asd
4    4   asd
5    5   asd
6    6   asd
7    7   asd
8    8   asd
9    9   asd
10  10   asd
11  11   asd
12  12   asd
13  13   asd
14  14   asd

In [4]:
df2 = pd.DataFrame({'id':range(3,6), 'chars':['asd', '12', 45]})

In [5]:
df2

   id chars
0   3   asd
1   4    12
2   5    45

In [6]:
df2.columns = ["id1", "ch"]

In [7]:
df2.columns

Index(['id1', 'ch'], dtype='object')

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id1     3 non-null      int64
 1   ch      3 non-null      object
dtypes: int64(1), object(1)
memory usage: 100.0+ bytes

In [9]:
df2.describe()

       id1
count  3.0
mean   4.0
std    1.0
min    3.0
25%    3.5
50%    4.0
75%    4.5
max    5.0

In [10]:
line = {"id1":56, "ch":"ald,oo"}
df2 = df2.append(line, ignore_index=True)

In [11]:
df2["day"]=["03 02 2012", "06 08 1998", "18 6 1877", "5 5 1995"]

In [12]:
df2

   id1      ch         day
0    3     asd  03 02 2012
1    4      12  06 08 1998
2    5      45   18 6 1877
3   56  ald,oo    5 5 1995

In [13]:
df2.day = df2.day.apply(pd.to_datetime, format="%d %m %Y")

In [14]:
df2

   id1      ch        day
0    3     asd 2012-02-03
1    4      12 1998-08-06
2    5      45 1877-06-18
3   56  ald,oo 1995-05-05

In [15]:
print (time.strftime("%a, %d %b %Y %H:%M:%S"))

Fri, 25 Jun 2021 22:24:09

In [17]:
locale.setlocale(locale.LC_ALL, "armenian")
#locale.setlocale(locale.LC_ALL, 'de_DE')
print (time.strftime("%a, %d %b %Y %H:%M:%S"))

???, 25 ??? 2021 22:24:23